@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Mega Movies</h1>
    <h4>Please take a look at our list of movie recommendations or even add a movie of your own!</h4>
</div>
